*.vsidx
HTask.API/obj/Debug/net10.0/HTask.API.AssemblyInfo.cs
HTask.API/obj/Debug/net10.0/HTask.API.AssemblyInfoInputs.cache
HTask.API/obj/Debug/net10.0/HTask.API.assets.cache
HTask.API/obj/Debug/net10.0/HTask.API.csproj.AssemblyReference.cache
HTask.API/obj/Debug/net10.0/HTask.API.GeneratedMSBuildEditorConfig.editorconfig
HTask.API/obj/Debug/net10.0/rpswa.dswa.cache.json
HTask.API/obj/HTask.API.csproj.nuget.dgspec.json
HTask.API/obj/project.assets.json
HTask.API/obj/project.nuget.cache
HTask.Application/obj/Debug/net10.0/HTask.Application.AssemblyInfo.cs
HTask.Application/obj/Debug/net10.0/HTask.Application.AssemblyInfoInputs.cache
HTask.Application/obj/Debug/net10.0/HTask.Application.assets.cache
HTask.Application/obj/Debug/net10.0/HTask.Application.csproj.AssemblyReference.cache
HTask.Application/obj/Debug/net10.0/HTask.Application.GeneratedMSBuildEditorConfig.editorconfig
HTask.Application/obj/HTask.Application.csproj.nuget.dgspec.json
HTask.Application/obj/project.assets.json
HTask.Application/obj/project.nuget.cache
HTask.Domain/obj/Debug/net10.0/HTask.Domain.AssemblyInfo.cs
HTask.Domain/obj/Debug/net10.0/HTask.Domain.AssemblyInfoInputs.cache
HTask.Domain/obj/Debug/net10.0/HTask.Domain.assets.cache
HTask.Domain/obj/Debug/net10.0/HTask.Domain.GeneratedMSBuildEditorConfig.editorconfig
HTask.Domain/obj/HTask.Domain.csproj.nuget.dgspec.json
HTask.Domain/obj/project.assets.json
HTask.Domain/obj/project.nuget.cache
HTask.Infrastructure/obj/Debug/net10.0/HTask.Infrastructure.AssemblyInfo.cs
HTask.Infrastructure/obj/Debug/net10.0/HTask.Infrastructure.AssemblyInfoInputs.cache
HTask.Infrastructure/obj/Debug/net10.0/HTask.Infrastructure.assets.cache
HTask.Infrastructure/obj/Debug/net10.0/HTask.Infrastructure.csproj.AssemblyReference.cache
HTask.Infrastructure/obj/Debug/net10.0/HTask.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
HTask.Infrastructure/obj/HTask.Infrastructure.csproj.nuget.dgspec.json
HTask.Infrastructure/obj/project.assets.json
HTask.Infrastructure/obj/project.nuget.cache
