# azure-pipelines.yml

# ----------------------------------------------------
# CI: INTEGRACIÓN CONTINUA (BUILD)
# ----------------------------------------------------
trigger:
- main # Se ejecuta automáticamente en cada push a la rama principal

pool:
  vmImage: 'ubuntu-latest' # Usamos un agente Linux para la compilación

variables:
  buildConfiguration: 'Release'  
  webProject: 'HTask.API/HTask.API.csproj' 
  appName: 'task-manager-system' 
  azureServiceConnection: 'Task-Manager-Azure-Conn' 

stages:
- stage: Build_CI
  displayName: '1. Compilación (CI)'
  jobs:
  - job: Build
    displayName: 'Preparar Artefacto'
    steps:
    
    # 1. Restaurar dependencias de todos los proyectos
    - task: DotNetCoreCLI@2
      displayName: 'dotnet restore'
      inputs:
        command: 'restore'
        projects: '*/.csproj'

    # 2. Publicar el proyecto web (Crea el paquete ZIP)
    - task: DotNetCoreCLI@2
      displayName: 'dotnet publish'
      inputs:
        command: 'publish'
        publishWebProjects: true # Publica solo el proyecto web
        arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
        zipAfterPublish: true # Comprime el resultado en un ZIP
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publicar Artefacto (drop)'
      inputs:
        pathToPublish: '$(Build.ArtifactStagingDirectory)'
        artifactName: 'drop'

# ----------------------------------------------------
# CD: DESPLIEGUE CONTINUO (DEPLOY)
# ----------------------------------------------------
- stage: Deploy_CD
  displayName: '2. Despliegue (CD)'
  dependsOn: Build_CI # Espera a que la compilación sea exitosa
  jobs:
  - deployment: DeployWebApp
    displayName: 'Desplegar a Azure'
    environment: 'QA/Production' # Nombre del ambiente para tracking
    strategy:
      runOnce:
        deploy:
          steps:
          # 1. Tarea para desplegar el código en Azure App Service
          - task: AzureWebAppDeployment@4
            displayName: 'Desplegar API en App Service'
            inputs:
              # Usamos la Service Connection que otorga permisos
              azureSubscription: '$(azureServiceConnection)' 
              appType: 'webApp'              
              appName: '$(appName)' 
              # Ruta al paquete ZIP creado en el CI
              package: '$(Pipeline.Workspace)/drop/*.zip'
