<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>hector_trujillo1@hotmail.com</AccountUsername>
    <ApiMToolType>OpenApi</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>task-manager-system</AzureServiceName>
    <AzureServiceResourceGroup>task-manager-system_group</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/5142132a-450c-4e36-8322-ca68a56fbe52/resourceGroups/task-manager-system_group/providers/Microsoft.Web/sites/task-manager-system</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>5142132a-450c-4e36-8322-ca68a56fbe52</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure subscription 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/5142132a-450c-4e36-8322-ca68a56fbe52/resourceGroups/task-manager-system_group/providers/Microsoft.Web/sites/task-manager-system (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>HTask.API</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>HTask.API</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://task-manager-system-hqevh7d2hqeyf5dn.mexicocentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>ec7c5e51-a93a-43aa-9318-d6e90d17b43d</TenantId>
  </PropertyGroup>
</Project>